.PaperStyle
{
    text-align: center;
    background-color: aliceblue;
    width: 400px;
    height:600px;
    margin: 10px;

}
.GridRoot
{
    width: 100%;
    height: 100%;
}
.GridRoot1
{
    width: 400px;
    height: 50%;
}
.GridRoot2
{
    width: 40%;
    height: 50%;
}
.GridRoot3
{
    width: 40%;
    height: 50%;
}
.InputStyle
{
    width: 90%;
    height: 100%;
    margin: 2%;
}